input.volume {
    width: 100%;
}
.vol-icon {
    font-size:1.15rem;
}
.volume-container {
    padding-left: 20px !important;
    padding-right: 25px !important;
}
.video-fx-icon {
    font-size: 1.5rem;
    padding: 0 20px;
}