input.volume {
    width: 100%;
}
.vol-icon {
    font-size:1.15rem;
}
.volume-container {
    padding-left: 20px !important;
    padding-right: 25px !important;
}

/* prevent annoyance where adjusting the volume on mobile will select the slider sometimes */
.volume-container {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
