# Ignore other unneeded files.
*.swp
*~
.project
.DS_Store
sftp-config.json
__pycache__/
*.db
*.db.bak
config.toml
config.json
loading_screen_config_cache.json

# these css files are built via scss
app/src/css/custom-theme.css
app/src/css/themes/*.css
app/src/css/**/*.css.map
app/src/component/**/*.css.map

# config file written on python server start up
app/src/tv_config.json

assets/channel_videos/*
!assets/channel_videos/readme.adoc
assets/loading_screens/*
!assets/loading_screens/readme.adoc
assets/screensavers/*
!assets/screensavers/readme.adoc
