@import "./../../css/themes/70s.scss";
.vfx-button {
    font-size: 1.5rem;
    border: 1px solid $background-light;
    border-radius: .3em;
}
.vfx-button.selected {
  text-stroke: 1px $primary-dark;
  -webkit-text-stroke: 1px $primary-dark;
  background-color: $background-primary !important;
  border: 1px solid $border;
}
