.wallContainer {
  position: relative;
  top:0;
  left:0;
}
.wall {
  position: absolute;
  top:0;
  left:0;
  filter: brightness(50%);

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
}
.tvs {
  position: absolute;
}
.tv {
  position: absolute;
  filter: blur(0);
  -webkit-filter: blur(0);
}
