.wallContainer {
  position: relative;
  top:0;
  left:0;
}
.wall {
  position: absolute;
  top:0;
  left:0;
  filter: brightness(50%);

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  
}
.loading .wall {
  opacity: .3;
}
.tvs {
  position: absolute;
}
.tv {
  position: absolute;
  filter: blur(0);
  -webkit-filter: blur(0);
  border: 1px solid #AAA;
}
.loading .tv {
  opacity: .3;
}
