.tv-wall-container img.video-thumbnail {
  filter: brightness(50%);

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

}
.loading .tv-wall-container {
  opacity: .3;
}
.tv-wall {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
.tv {
  position: absolute;
  border: 1px solid #AAA;
}
.loading .tv {
  opacity: .3;
}
