
@import "themes/70s.scss";

h1,h2,h3 {
  font-family: $header-font;
  font-weight: 700;
}

h2 {
  color:$primary-light;
  font-size:1.2rem;
}

::placeholder {
  color: $accent-color1 !important;
}

//reset search close on chrome
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /*Your new styles */
  height: 15px;
  width: 15px;
  background-image: url('../close.svg');
}
.search-clear {
  fill:$accent-color1;
}

//svg
.animation-container {
  padding:1.5rem;
  position:relative;
}

.svg-icon {
  width:60px;
  height:60px;
  padding:10px;
  .svg-icon-path {
    fill:$primary-dark;
    transition:.5s fill ease-in;
  }
}

.svg-icon:hover {
  cursor:pointer;
  padding:9px;
}

.svg-icon.selected {
  .svg-icon-path {
    fill:$primary-light;
  }
}
.icon-tooltip {
  position:absolute;
  width:100%;
  text-align: center;
  bottom:-16px;
  left:0;
  padding:.1rem .15rem;
  font-weight:600;
  font-size:.7rem;
  background-color:$primary-light;
  border-radius:3px;
  opacity:0;
  transition:.4s opacity ease-in-out;
}
.bg-primary {
  background: $accent-color1;
  background: $background-primary !important;
  background-position:fixed;
  background-blend-mode: multiply;
  height:100vh;
}
.bg-background {
  background-color: $background-light !important;
}
.bg-light {
  background: $background-light !important;
}
.bg-dark {
  background: $background-primary !important;
}

.splash {
  width: 100%;
  max-width:500px;
  margin: auto;
}
.splash .search-container {
  flex-flow:wrap;
  justify-content:center;
  margin-top:-160px;
}
.splash .tv-logo {
  width:160px;
  padding:1rem;
}


/* stroked glyphs */
.glyphicon {
  color: $primary-light;
}

/* overall text */
body {
  color: $text-title;
  font-family: $body-font;
}
.text-light {
  color: $text-main !important;
}

/* playlist */
.playlist h2, .playlist-expanded h2 {
  font-weight:400;
  font-size:1rem;
  color:$primary-light;
  background:linear-gradient(to bottom, $primary-dark, transparent);
}
.playlist h3, .playlist-expanded h3 {
  font-size:1.2rem;
  color:$primary-dark;
}
.up-next {
  background: url('/grain.png'), $primary-light;
  background-blend-mode:multiply;
  border-left:4px solid $accent-color2;
}
.skip-icon .glyphicon {
  margin-left: 2px;
  padding-right:.5rem;
  color:$primary-dark;
}
.playlist-video-common {
  border-bottom:1px solid $primary-dark;
}
.playlist-video-thumbnail-container {
  background-color: $accent-color2;
}
.playlist-video-icon-fill-color {
  fill:$primary-light;
}
.playlist-expanded .skip-icon {
  float: right;
}
.playlist-expander {
  .video-title {
    font-size:.9rem;
  color:$primary-dark;
  font-family:$body-font;
  }
}
.playlist-footer {
  background-color: $primary-dark !important;
  font-family:$header-font;
  font-weight:400;
  border-top: 3px solid $border;
}
.swipeable-list-item-button.play-next {
  background-color: $primary-dark;
}
.swipeable-list-item-button.remove-video {
  background-color: $primary-light;
}
.swipeable-list-item-button.remove-video .glyphicon {
  color: $primary-dark;
}

/* alert */
.bg-success {
  border: 1px solid $border;
  background-color: $primary-dark !important;
  color: $primary-light;
  box-shadow:none !important;
}

/* search input */
.input-group-wrapper {
  background-color: $background-primary !important;
  border: 1px solid $accent-color2 !important;
  display:flex;
  width:100%;
}
.form-control {
  background-color: $primary-dark !important;
  color: $primary-light !important;
  border:0;
  border-radius:0 !important;
  font-family:$header-font;
  font-weight:400;
}
.form-control:focus {
  box-shadow:none;
}
.input-group-text {
  background-color: $primary-dark !important;
  text-shadow: none;
  color: $text-main;
  border:0;
  border-radius:0 !important;
}
.input-group-append {
  margin-left:0;
}

/* search result video */
.video-title, .video-title-no-shadow {
  text-shadow: $icon-shadow 0px 0px $title-shadow-blur;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: $header-font;
  font-weight: 700;
  font-size:1.2rem;
  transition: .5s text-shadow ease-in;
}
.video-title-no-shadow {
  text-shadow: none;
}
.search-container {
  display:flex;
  align-items:flex-end;
}
.search-result {
  padding:1.5rem;
}
.search-result:hover .thumbnail-container {
  background-color:$primary-light;
}
.search-result:hover .video-title {
  text-shadow:$primary-dark 1px 1px 0;
}
.thumbnail-container {
  background-color: $accent-color2;
  background-image: url('/grain.png');
  background-blend-mode:multiply;
  border:.2rem solid $primary-light;
  aspect-ratio: 4 / 3;
  overflow:hidden;
  transition:.5s background ease-in-out;
  position:relative;
}
.tv-logo {
  width:50px;
}
.tv-logo:hover {
  animation:jiggle .2s 0s 2 alternate ease-in forwards;
}
.search-result .video-thumbnail {
  height:100%;
  margin-left:-15.43%;
  mix-blend-mode: multiply;
}
.video-details {
  color: $text-main;
  font-weight:600;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.video-description {
  color: $text-subtle;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.badge {
  background-color: $primary-dark;
  color: $primary-light;
}

//Volume slider
.rc-slider-handle {
  border:0;
  border-radius:2px;
  height:15px;
  width:10px;
  background-color:$primary-light;
  opacity:1;
}
.rc-slider-handle::after {
  // make the touch area for volume slider a bigger target without affecting the appearance
  content: "";
  position: absolute;
  // center this over its parent
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
.rc-slider-handle:active {
  box-shadow:$primary-dark -1px 1px 0;
  height:19px;
  width:12px;
  margin-top:-7px;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow:none;
}
.rc-slider-rail {
  border:0;
  height:2px;
  margin-top:1px;
  background:$primary-light;
}
.rc-slider-track {
  height:5px;
  background:linear-gradient(to left, $accent-color1, $primary-dark);
}

@media (min-width: 576px) {
  .content {
    max-width: 1200px;
  }
  .video-title {
    font-size:1.5rem;
  }
  .video-description {
    display: -webkit-box !important;
  }
  .thumbnail-container {
    margin-right:1rem;
  }
  .svg-icon:hover + .icon-tooltip {
    opacity:1;
  }
  .up-next {
    margin-top:2rem;
  }
  .animation-container {
    padding:2rem;
  }
  .search-results {
    padding:2rem 2rem 0 0;
  }
  .thumbnail-container {
    border:.4rem solid $primary-light;
  }

}

@keyframes jiggle {
  0% { transform: rotate(0deg); }
  33% { transform: rotate(-6deg); }
  66% { transform: rotate(6deg); }
  100% { transform: rotate(0deg); }
}
